@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Thank you for your order!</h2>
<h3>You will be notified as the processing of the order progresses.</h3>
<h4>Your OrderId : @ViewData["OrderId"]</h4>